
.custom-pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.custom-pagination-previous,
.custom-pagination-next {
  border: none;
  padding: 6px 1px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.custom-pagination-info {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: gray
}

