.MainAdminPageBox{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding:0 25px;
  height: 110px;
  width: 15.3rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #DDD;
}

.MainAdminPageBox .data .count{
color: var(--text-color);
font-size: 1.2rem;
line-height: 30px;
font-weight: 700;
}
.MainAdminPageBox .data .title{
color: var(--second-text-color);
font-size: 1rem;
}