.AboutUs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.AboutUs .img{
display: flex;
justify-content: center;
}
.AboutUs .img img{
  width: 490px;
  height: 600px;
}
.AboutUs .data .content .header{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
.AboutUs .data .content .header h4{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0;
}

.AboutUs .data .content .title{
  font-size: 1.25rem;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 500px;
}
.AboutUs .data .content .description{
  font-size: 1rem;
  color: var(--second-text-color);
  margin-top: 15px;
  max-width: 500px;

}
.AboutUs .data .flexiable{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f9eae5;
  width: 500px;
  padding: 40px 90px 20px 100px;
  position: relative;
   border-radius: 10px;
   margin-top: 15px;
}
.AboutUs .data .flexiable img{
  position: absolute;
  top: 7px; left: -0px;
}
.AboutUs .data .flexiable span{
  font-size: 0.9rem;
  color: var(--second-text-color);
}
.AboutUs .data .details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  row-gap: 10px;
}
.AboutUs .data .details .detail{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--second-text-color);
}
.AboutUs .data .link{
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height:55px;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  /* box-shadow: 0 0 8px var(--main-color); */
  width: max-content;
  margin-top: 20px;
}