.AboutUs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;

}
.AboutUs .img{
display: flex;
justify-content: center;
}
.AboutUs .img img{
  width: 490px;
  height: 600px;
}
.AboutUs .data .content .header{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
}
.AboutUs .data .content .header h4{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0;
}

.AboutUs .data .content .title{
  font-size: 1.25rem;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 500px;
}
.AboutUs .data .content .description{
  font-size: 1rem;
  color: var(--second-text-color);
  margin-top: 15px;
  max-width: 500px;

}
.AboutUs .data .flexiable{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #f9eae5;
  width: 500px;
  padding: 40px 90px 20px 100px;
  position: relative;
   border-radius: 10px;
   margin-top: 15px;
}
.AboutUs .data .flexiable img{
  position: absolute;
  top: 7px; left: -0px;
}
.AboutUs .data .flexiable span{
  font-size: 0.9rem;
  color: var(--second-text-color);
}
.AboutUs .data .details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  row-gap: 10px;
}
.AboutUs .data .details .detail{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: var(--second-text-color);
}
.AboutUs .data .link{
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height:55px;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  width: max-content;
  margin-top: 20px;
}
.AboutUs .responsive{
  display: none;
}
@media (max-width:769px) {
  .AboutUs{
    margin-top: 10px;
    padding: 20px;
  grid-template-columns:  1fr ;

  }
  .AboutUs .img{
    display: none;
  }
  .AboutUs .responsive{
    display: block;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AboutUs .responsive img{
    width: 350px;
    height: 450px;

  }
  .AboutUs .data .flexiable{
    width: 100%;
  padding: 40px 20px 20px 100px;

  }
  .AboutUs .data .details{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr ;}

    .AboutUs .data .link{
      width: 90%;
      border-radius: 30px;
      margin:20px auto;
    }
}