.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 50px 0px;
}
.parant-topbar .header{
  display: none;
}
.TopBar div:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.TopBar div:first-child .icon {
  color: gray;
}
.TopBar div:first-child .icon-container {
  width: 58px;
  height: 58px;
  background-color: #f6f8fc;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.TopBar div:first-child .serach {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  background-color: #f6f8fc;
  border: 1px solid #ddd;
  height: 58px;
  border-radius: 5px;
  padding: 0 15px;
}
.TopBar div:first-child .serach input {
  flex: 1;
  outline: none;
  border: none;
  background-color: transparent;
  color: gray;
}

.TopBar div:first-child .serach img {
  width: 30px;
  height: 30px;
}
.TopBar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.TopBar .user .link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: var(--text-color);
}

.TopBar .user .link .icon{
  color: #30313E;
}
.TopBar .user .link .icon-container{
  width: 40px;
  height: 40px;
  background-color: #f6f8fc;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

@media (max-width:768px) {
  .parant-topbar .header{
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
  .parant-topbar .header p{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
  }
  .parant-topbar .TopBar div:first-child{
   flex-direction: row-reverse;
  }
  .parant-topbar .TopBar{
    justify-content: center;
    width: 100%;
  gap: 10px;
  }
  .parant-topbar .TopBar .user .link:last-child{
display: none;
  }
  .parant-topbar .TopBar .user .link:first-child span{
display: none;
  }
  .parant-topbar .TopBar .user .link:first-child {
    width: 58px;
    height: 58px;
    background-color: #f6f8fc;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
  }
  .parant-topbar .TopBar .user .link:first-child .icon{
    color: gray;
  }
  .TopBar div:first-child .serach{
    flex: 1 !important;
  }
}