.AddCoourse .form-control {
  display: flex;
  justify-content: center ;
  align-items: start ;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
  background-color: #fff ;
}
.AddCoourse .form-control label {
  font-size: 1.1rem;
  color: var(--text-color);
}
.AddCoourse .form-control label:after {
  content: "*";
  color: red;
}

.AddCoourse .form-control input , .AddCoourse  .form-control textarea , .AddCoourse .form-control select{
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
  padding: 10px;
  transition: 0.3s;
  color: var(--second-text-color);
}
.AddCoourse .form-control .input , .addLesson .input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  height: 46px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}
.AddCoourse .form-control .input:hover{
border-color: var(--main-color);
}
.AddCoourse .form-control .input div  , .addLesson .input div {
  color: #fff;
  background-color: var(--main-color);
  height: 100%;
  padding:0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.AddCoourse .form-control .input p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding:0px 20px;
  color:var(--text-color)
}

.AddCoourse .form-control input:focus,
.AddCoourse .form-control textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0px 0px 2px var(--main-color);
}

.AddCoourse form button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 15px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.5s;
  border: 1px solid var(--main-color);
}
.AddCoourse form button:hover{
 background-color: #fff;
 color: var(--main-color);
}