 .Hero {
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../../../images//HeroBg.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.Hero .data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  height: 90%;
}
.Hero .data .content .img{
  display: none;
}
.Hero .data .content{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.Hero .data .content h2{
  font-size: 3.5rem;
  font-weight: 700;
  color:var(--main-color);
  line-height: 80px;
}
.Hero .data .content h2 span{
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
}
.Hero .data .content p{
  color: var(--second-text-color);
  width: 500px;
  font-size: 1.1rem;
}
.Hero .data .content .details{
  display: flex;
  gap: 30px;
  align-items: center;

}
.Hero .data .content .details img{
  width: 110px;
  height: 110px;
  position: relative;
  top: -30px;
}
.Hero .data .content .link{
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height:55px;
  padding: 20px 60px;
  border-radius: 20px;
  font-size: 1.2rem;
  box-shadow: 0 0 8px var(--main-color);
}
.Hero .data .img{
  display: flex ;
  justify-content: center;
  align-items: center;
}
.Hero .data img{
  width: 500px;
  height: 500px;

}


@media (max-width: 768px) {
  .Hero{
    background-image: none;
  }
  .Hero .data{
    margin: 0 auto;
  }
  .Hero .data .img{
    display: none;
  }
  .Hero .data .content .img{
    /* display: block; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Hero .data .content{
    gap: 5px;
  }
  .Hero .data .content h2{
    font-size: 2.5rem;
    line-height: 60px;
    margin: 0 20px;

  }
  .Hero .data .content h2 span{
    font-size: 2.5rem;
    
  }
  .Hero .data .content p{
    font-size: 1.1rem;
    max-width: 400px;
    margin: 0 20px;

  }
  .Hero .data .content .img img{
width: 400px;
  }
  .Hero .data .content .details{
    width: 100vw;
    position: relative;
    margin: 30px 0;
  }
  .Hero .data .content .details img{
    position: absolute;
    top: -120px;
    left: 75%;
  }
  .Hero .data .content .link{
    width: 80%;
    margin: auto;
  }
}
