.SideBar{
  width: 20vw;

}
.SideBar .logo img{
  margin-bottom: 20px;

}
.SideBar .links{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.SideBar .active{
  background-color: var(--main-color);
  color: #fff;
}
.SideBar .active.dropLink{
  background-color: transparent;
  color: var(--main-color);;
}
