.SideBar{
  width: 250px;
  background-color: var(--bg-color);
  z-index: 999;
  transition: 0.5s ease-out;
  overflow-y: auto;
flex-shrink: 0;
}
.SideBar .logo img{
  margin-bottom: 20px;

}
.SideBar .links{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.SideBar  svg path {
 fill: #fff;
}
.SideBar .active{
  background-color: var(--main-color);
  color: #fff;
}
.SideBar .active.dropLink{
  background-color: transparent;
  color: var(--main-color);;
}


@media (max-width:769px) {
  .SideBar{
    width: max-content;
    position: fixed;
  z-index: 999;
  overflow-y: scroll;
  height: 100vh;
  }
}
