.SideBar{
  width: 20vw;
  background-color: var(--bg-color);
  z-index: 999;
  transition: 0.5s ease-out;
  max-height: 100vh;
  overflow-y: scroll;
  transition: scrollbar-width 0.5s ease-out;

  scrollbar-width: none;
}
.SideBar .logo img{
  margin-bottom: 20px;

}
.SideBar .links{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}
.SideBar .active{
  background-color: var(--main-color);
  color: #fff;
}
.SideBar .active.dropLink{
  background-color: transparent;
  color: var(--main-color);;
}


@media (max-width:769px) {
  .SideBar{
    width: max-content;
    position: fixed;
  z-index: 999;
  overflow-y: scroll;
  height: 100vh;
  }
}


::-webkit-scrollbar{
  width: 5px;
  height: 2px;
  transition: 0.5s;
 }
 ::-webkit-scrollbar-track{
  background: transparent;
  border-radius: 6px;
 }
 ::-webkit-scrollbar-thumb{
  /* background:rgba(109, 106, 106, 0.561); */
  background:#c3c3c3;
  border-radius: 6px;
 }



/* .SideBar::-webkit-scrollbar {
  width: 0 ;
  transition: width 0.5s ease-out;
}

.SideBar::-webkit-scrollbar:hover {
  scrollbar-width: thin; 
}

.SideBar::-webkit-scrollbar:hover::-webkit-scrollbar {
  width: 5px;
} */





.SideBar::-webkit-scrollbar {
  width: 6px;
  transition: opacity 0.3s ease; 
  opacity: 0; 
}


.SideBar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  opacity: 0; 
}


.SideBar:hover::-webkit-scrollbar {
  opacity: 1;
}


.SideBar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4); 
  opacity: 1;
}