.Courses{
}
.Courses .filters{
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 12px;
  flex-wrap: wrap;
  padding: 25px;
  margin-top: 15px;

}
.Courses .search{
  height: 2.6rem !important;
  width: 240px;

}
.Courses .DateSelectBox{
  background-color: #f6f8fc;
  height: 2.8rem;
  width: 240px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.Courses .DateSelectBox select{
  background-color: transparent !important;
  flex: 1;
  color: gray;
}
.Courses .table{
  background-color: #fff;
} 
.Courses .table .link:hover{
background-color: #fff;
color: var(--main-color);
}
@media (max-width:769px) {
  .Courses .filters{
    display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 0;
  background-color: transparent;
  }
  .Courses .search{
  width: 40vw;

  
  }
  .Courses .DateSelectBox{
  
    width: 40vw;
  
  }
}