.NavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  height: 70px;

}
.NavBar .Links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}
.NavBar .Links .link{
 color: var(--text-color);
 font-size: 1rem;
 font-weight: 700;
 text-decoration: none;
}

.NavBar .Links .link:hover{
 color: var(--main-color);
  
}
.NavBar .btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.NavBar .btns .link{
  font-size: 1rem;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  transition: 0.3s ease;
}
.NavBar .btns .link:first-child{
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.NavBar .btns .link:last-child{
background-color: var(--main-color);
border: 0.5px solid var(--main-color);

  color: #fff;
}
.NavBar .btns .link:first-child:hover{
  background-color: var(--main-color);
  color: #fff;
}
.NavBar .btns .link:last-child:hover{
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: #fff;
}