.custom-table{
  text-align: center;
 width: 100%;
}
.custom-table thead{
  background-color: rgb(241, 90, 36,0.1);
  /* text-align: center; */
}
.custom-table thead th{
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}
.custom-table tbody{
  text-align: center;
}
.custom-table tbody td{
  color: var(--second-text-color);
  font-size: 0.8rem;
  text-align: center !important;
  padding: 20px;
}
.custom-table tbody tr{
  border-bottom: 1px solid #ddd;
}
.custom-table tbody tr:last-child{
  border-bottom: none;
}
.table{
  width: 100%;
}