
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --bg-color:#FAFAFA;
  --text-color :#30313E;
  --second-text-color :#656565;
  --main-color:#F15A24;
  --btn-color:#02308E;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Cairo", sans-serif;


}

.custom-scrollbar {
  scrollbar-width: thin;              
  scrollbar-color: #6c7178 #f1f1f1;   
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6c7178;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6c717898;
}

.main-shadow:hover{
  filter: drop-shadow(0 0 5px var(--main-color));
  transition: 0.5s;
}
.rounded-circle{
  border-radius: 50%;
}
body{
  background-color: var(--bg-color);
}
@media (max-width:769px) {
  html{
    font-size: 14px;
  }
}
.load-icon{
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}


/* .Toastify__toast-theme--colored.Toastify__toast--success{
} */
.Toastify__toast-theme--colored.Toastify__toast--error{
  box-shadow: 0px 0px 5px !important;
  
}
